Student.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="Student" type="StudentType"/>

    <xsd:complexType name="StudentType">
        <xsd:sequence>
            <xsd:element name="StudName" type="xsd:string"/>
            <xsd:element name="StudAge" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>